# /etc/systemd/system/gitomatically.service

[Unit]
Description=Gitomatically CI/CD Service
After=network.target

[Service]
Type=simple
User=gitomaticallyuser  # Create a dedicated low-privilege user for security
Group=gitomaticallyuser # Create a dedicated low-privilege group
WorkingDirectory=/path/to/your/gitomatically/app
ExecStart=/path/to/your/gitomatically/app/gitomatically
EnvironmentFile=/path/to/your/.env # Path to your .env file
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gitomatically

[Install]
WantedBy=multi-user.target